/* Header */
.before-image
{
  padding-left:34px !important;
}
.l4us:first-child
{
  width:100%;
  display:flex !important;
  justify-content:space-between !important;
}
.l4us li
{
  height:30px !important;
}
.l4us > li:last-child
{
  margin:0px;
}
.before-image:before
{
  background-image: url(//uhren2000.myshopify.com/cdn/shop/files/phone_small.svg?v=1708971837) !important;
  width: 24px;
  height: 30px;
  left: 0 !important;
  top: -3px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.top-header_small-image-group
{
  display:flex;
  gap:10px;
}
.custom-trusted-shop-link
{
  display:flex;
  gap:5px;
}
.custom-trusted-shop-link > img:first-child
{
  margin-right:5px;
}

.custom-seperate
{
  width:100%;
  height:3px;
  background-color:black;
  margin:10px 0px !important;
}

.nav-bar-element:nth-child(10)
{
  border-top:1px solid gray;
}


#root .shopify-section-header #nav
{
  height:100%;
}


ul[data-type="main-nav"] .ff-secondary .sub li {
  margin-bottom: 7px !important;
}

ul[data-type="main-nav"] .ff-secondary .sub li a {
  font-size: 15px !important;
}

/* Blog */

/* header.cols > h2
{
  text-align:center;
} */
.main-blog-list
{
  align-items:stretch;
  justify-content:space-between !important;
  --dist:0px !important;
}
.main-blog-list > li
{
  text-align:center;
  flex-direction: column;
  padding: 0;
  display: flex;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  top:0px !important;
  width:calc(33% - 20px);
  background: #f7f7f7;
  border-radius: 23px;
  transition: all .25s ease-in-out;
}
.main-blog-list>li:hover
{
  box-shadow: 0 0 50px rgba(0,0,0,0.1) !important;
}
.main-blog-list > li > figure
{
  margin-bottom:1.875rem;
}
.main-blog-list > li > h3
{
  margin-bottom:1.625rem;
  padding-bottom:1.625rem;
  border-bottom:1px solid #c1a57e;
}
.main-blog-list > li > h3 > .small
{
  margin-bottom:1rem;
}
.main-blog-list .mobile-hide.m0
{
  margin-bottom:1.25rem !important;
}
.main-blog-list .button-palette-accent
{
  padding: 0.125rem 0.625rem 0.125rem 0.625rem;
  border-radius: 10px;
  min-height: 52px;
  height: 52px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-top:auto !important;
  padding:24px;
  box-shadow:0 0 50px rgba(0,0,0,0.1);
  border:1px solid #c1a57e;
}
.main-blog-list>li:hover .button-palette-accent
{
  box-shadow:none;
}
.main-blog-list .button-palette-accent:hover
{
  border-color:black;
}
.main-blog-list .button-palette-accent:hover .no-before
{
  color: black;
}
.main-blog-list .button-palette-accent > .no-before:before
{
  content:none;
}

@media (min-width: 901px) {
  .l4cl li:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
    background-color: #f5f5f5;
    border-radius: 0px !important;
    padding: 10px;
    margin-bottom: 30px;
  }

  .l4cl li {
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .l4cl li:hover {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1) !important;
    border-radius: 36px !important;
    padding: 0px !important;
    margin-bottom: 30px;
  }

  .l4cl li {
    border-radius: 36px;
    padding: 0px !important;
    margin-bottom: 30px;
  }
}

.quantity-discount-bar .discount-step {
  max-width: 120px;
  min-width : 100px;
  cursor: pointer;
}

.quantity-discount-bar .discount-step {

}


.quantity-discount-bar .discount-step p {
  margin-bottom: 0!important;
}

/* begin product quantity style */
.quantity-discount-bar .discount-step {
  max-width: 120px;
  min-width : 100px;
  cursor: pointer;
}

@media (max-width : 420px) {
  .quantity-discount-bar .discount-step {
    max-width: 80px;
    min-width : 80px;
  }
}

.quantity-discount-bar .discount-step p {
  margin-bottom: 0!important;
}


.original-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: grey;
}
.original-price.meta-field {
  margin-left: 2px;
}
@media screen and (max-width: 760px) {
  .btn-mobile-wide .link-btn .button-palette-black {
    width: auto;
  }
}
.mobile-compact.mobile-sticky {
  position: static !important;
}