

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n4.481bd4d19704ca98fb1d3abd50c668b6962860a2.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=0d6406c6686ad9ad5abe4e16db12421ebfd9739ae59da775fa1ac8b10aaa183e") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n4.5a356a4c1877691cd26008ee4a5c7ada675c80ce.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=aa89d34313a65c8cf3fb69c359ecdb98b27f1704f517f932c019291a7e706608") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=a46e7201e1d88f88d33d2698281f31263e2e63c0d41adbf345417413fdf327ca") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n4.a512c7b68cd7f12c72e1a5fd58e7f7315c552e93.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=48b2cc35bf54403986eabb6cbe1473f8c46a0fdad2f0a5f65bdebb4322281a06") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n1.64ffbe3db8bf296b4c11e905d108d865cad819e1.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=00839245055f344d5682da4506b78623942740b05a90784bedf2260c5ff66c2f") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n1.531f8e357ff64abda22215dc64ab33508ce4a061.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=e9c7b4d4de53d912825b1080f2ec184c081ba26ca33a539c2f6698c06ede22b8") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n2.80a17e68417b7f06a1fc39c4df05ee00d3058488.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=f2371efd9186b6ad7d0e46cbcae3fd5a499c6ae56ec926ee428d27b081ca97e1") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n2.ccfd9a7d38ea2062ccd5fd75183839ac81915023.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=545dccea312095f3f7a6a734cb8d99ef77bd025ac80715c7e962e837301a5e31") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n3.b5848dd787e2cf31c3821b141f8ea5597b5bbbc6.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=dfc95b2d73b4bdc2c1b1e6bdb4950f2272021ff8e389b7b1463deafb44fbc386") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n3.078496ce0ef17acfeb2cbe1a007aee39385f4498.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=5f88e949186d78f5b6ca92ee84efb9fc31ccdb1e9b20c5802eddbdc7ebea1995") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n4.481bd4d19704ca98fb1d3abd50c668b6962860a2.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=0d6406c6686ad9ad5abe4e16db12421ebfd9739ae59da775fa1ac8b10aaa183e") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n4.5a356a4c1877691cd26008ee4a5c7ada675c80ce.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=aa89d34313a65c8cf3fb69c359ecdb98b27f1704f517f932c019291a7e706608") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n5.4e013095af5df852d965c6d0d5c22626d12ca9b1.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=b4ceecaca183cafb5db26413655b0b66fe78581f327f7dad53a0aaba1242ba17") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n5.a68b7118da8e36cefdfa5a16eb3ccd7b79151b88.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=b27c6a083c56471cbc31b48330f760802659fe0893d2e11c9c03f82de99744a4") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n6.f376a8167febc541e642518027b9ec9b9121420c.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=5da11201864c54ce2c53897a719d0c6e0a0df0cac79b89f7920c676bfb8aea63") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n6.e443e28dc0f8869f8e2f4fa978e895a4a075406f.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=77575c81df36c99b5debbb764a8dd4fda39797c11222728729ad32c33af6ec0a") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n7.50ef4139896edec0637fde057914fbf7e3a8d56e.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=8eee3dc7f3cbc421047e4918df21a83bf9ade2adf7334fb44bfb88ec46c4d633") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n7.194c3d3f64efd8e4c82bbbe83dc84f5893fd9087.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=b87eed826ae1321e3a00aee98d56a9d658326ce8da0b57bec18cebab5eebb5a8") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n8.fcd2225f905749b78b873dcbb30454635c18ddce.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=fcfec6252f4703260f8d1ac9af831333f4966a25858a30cb830c8116fe83731b") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n8.8a62ef8f887c4f70bd5d70db0ee3bf3409261a77.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=482a1b701842231c8e5a57ace42643270168d7acbfbb768b8141c597d591fd45") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n9.275eca18870a2ec8eb769fec3e1256a620f3775c.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=adcdde473d7e947c492a727a99f5444bb127bf2544dcc334b862a77981472bbf") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/inter/inter_n9.bf7cd2f03a906e2ffe58901965dc8e5ca6b1d5d5.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=800d20a07b37fe9b98738278b1bf336c2193aef5c00167fe2819f71cc600654b") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n1.c0eade3702dbcdaf6bcfe2c3bb8a2cfd92b00f0a.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=aab46d538e1f42c8d0749e1a013b37a8239396ea61b26e21716e6adab92cf2c9") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n1.ba6a9df663e398c6d3f0837aeb2fa362341c7a09.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=cf565f68b9ed8c4ec3749c01b515270ad43b9f690eb847fb2aa97c8d169e7c4b") format("woff");
}


@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n3.fcf1a8ca0d134f200393562dbdc9f5836276782d.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=dea8e49165514f2dfc98411b7901acfd3bdd65759596b0f199d052336a766249") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n3.fa321b1ddee0338f7cf3bfb01c364bbc1b6a419a.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=10f79e538bd015a9c572a860a3cefc9100fed141fac813f4c94f9c26ab3bf856") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=a46e7201e1d88f88d33d2698281f31263e2e63c0d41adbf345417413fdf327ca") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n4.a512c7b68cd7f12c72e1a5fd58e7f7315c552e93.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=48b2cc35bf54403986eabb6cbe1473f8c46a0fdad2f0a5f65bdebb4322281a06") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n5.126dd24093e910b23578142c0183010eb1f2b9be.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=66988d55b1244a12c3348be8fd0c22806284347ba361bdd3317faa35851bf5be") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n5.ef0ac6b5ed77e19e95b9512154467a6fb9575078.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=2ca712421c1414c80e9959dd060383197464cfe3268be9e777544925f19fc18b") format("woff");
}


@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n7.51ede27d5b58491d9cf07ad184108da52fef80b4.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=99be90d6b7bdbc8d94c524dd74abd4aad222f618bce02ccf25fb4885f12bea10") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n7.1babbb6a27f91b14216bafa40bf222e08f6999f4.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=d8aa39089f4d90d96a082c9807de69d427cb31e8072a96101a53427981e45868") format("woff");
}


@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n9.53d38598fbfdff3d54f7424818da582af4f7d230.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=9d8ec0224dc3a746abbcfafdf06096449622a31362b7b2e2d79bdfc0dee53c65") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_n9.f3669795f8a2d1263fcc5f16bb1988525e54c56f.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=ca9be2d40caa737e0b96c88eceb7c0705c80587895131c05220ab4d74ebf1c7e") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_i4.f98951b4b9b6e1096fc799cd05debd098bd422ac.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=93711a6bb1902ef737c9774c135f722c15db392fb34a5ac57a724ee391079423") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_i4.688a26691d45bc4053b6ae24a196cabdeedbc25c.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=ddf492dc617411511e19be693c18bb07d0c0f0eb5b7bdab4bd7327144fb8dfc0") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_i7.9c922c35bb84952cfb17e8c1d42e440e75aa8ccf.woff2?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=1163cd3da71a71feb50f557fdbb7859a8668ca26cab79da61f0a8ba04587ea15") format("woff2"),
       url("//medicom-de.myshopify.com/cdn/fonts/roboto/roboto_i7.c50b5683f5731edb8040ff2110a54947108434de.woff?h1=bWVkaWNvbS1kZS5hY2NvdW50Lm15c2hvcGlmeS5jb20&hmac=042a2384f159fbab40ce85445e0950aefec2e64ae008cb16caf9cdaffe81f408") format("woff");
}

@font-face { font-family: 'i'; src: url(//medicom-de.myshopify.com/cdn/shop/t/2/assets/xclusive.woff2?v=96946264402571190891710861604) format('woff2'), url(//medicom-de.myshopify.com/cdn/shop/t/2/assets/xclusive.woff?v=150822884221574222151710861604) format('woff'); font-display: swap; }

:root {
  --secondary_text:     var(--white);
  --secondary_bg:       #0d0d0d;
  --secondary_bg_dark:  #000000;
  --secondary_bg_fade:  #272727;
  --secondary_fg:       var(--secondary_text);

  --secondary_btn_text:    #ffffff;
  --secondary_bg_btn:      #e93d3d;
  --secondary_bg_btn_dark: #da1919;
  --secondary_bg_btn_fade: #ee6b6b;

  --tertiary_text:      #ffffff;
  --tertiary_bg:        #e93d3d;
  --tertiary_bg_dark:   #da1919;
  --tertiary_bg_fade:   #ee6b6b;
  --tertiary_fg:        var(--tertiary_text);

  --quaternary_text:    #ffffff;
  --quaternary_bg:      #e93d3d;
  --quaternary_bg_dark: #da1919;
  --quaternary_bg_fade: #ee6b6b;
  --quaternary_fg:      var(--quaternary_text);

  --custom_top_search_bg:var(--body_bg);
  --custom_input_fg:    #0d0d0d;

  --alert_error:        #e93d3d;
  --alert_valid:        #64cd82;
  --lime:               #64cd82;
  --gallery:            #f5f5f5;
  --sand:               #f5f5f5;

  --product_label_bg:   #0d0d0d;
  --product_label_bg_dark:#000000;
  --product_label_text: #FFFFFF;
  --sale_label_bg:      #e93d3d;
  --sale_label_bg_dark: #e62626;
  --sale_label_text:    #ffffff;
  --product_label_bg_custom: #000000;
  --product_label_text_custom: #ffffff;


  --positive_bg:        #64cd82;
  --positive_bg_dark:   #51c772;
  --positive_fg:	      var(--white);

  --price_color:        #0e0e0e;
  --price_color_old:    #e93d3d;

  --primary_text:       var(--black);
  --primary_text_h:     var(--black);

  --primary_text_rgba:  rgb(13, 13, 13);

  --body_bg:            #FFFFFF;

  --breadcrumbs_fz:  13px;

  --main_ff_h:          Inter, sans-serif;
  --main_fw_h:          400;
  --main_fw_h_strong:   700;
  --main_fw_bold:       var(--main_fw_strong);
  --main_fs_h:          normal;
  --main_ls_h:          -0.04em;
  --main_tt_h:          none;
  --main_lh_h:          1.15;


  --main_ff:            var(--main_ff_h);
  --main_fs:            var(--main_fs_h);

  --main_tt:            none;
  --main_fw:            400;
  --main_fw_strong:     700;

  --main_ls:            -0.03em;
  --main_lh:            1.8;
  --main_fz:            14px;

  --main_h1:            60px;
  --main_h2:            36px;
  --main_h3:            30px;
  --main_h4:            20px;
  --main_h_small:       16px;

  --mob_h1:             38px;
  --mob_h2:             28px;
  --mob_h3:             20px;
  --mob_h4:             18px;
  --mob_h5:             16px;
  --mob_h_small:        16px;
  --mob_fz:             14px;
  --btn_fz_mob:         14px;


  --btn_ff:            var(--main_ff_h);
  --btn_fs:            var(--main_fs_h);

  --btn_fw:            700;
  --btn_fz:          16px;
  --btn_tt:          none;
  --btn_ls:          0.1em;
  --btn_bd: 1px;
  --btn_br: 0px;
  --btn_pv: 16px;
  --btn_ph: 25px;



  --price_ff:            var(--main_ff_h);
  --price_fs:            var(--main_fs_h);

  --price_fw:            400;


  --b2r: 0;

  --b2i: 0px;
  --b2p: 5px;

  --glw: 1200px;
  --ratio: 1.0;
}
.l4pr { --ratio: 1.0; }


@media only screen and (max-width: 760px) {
  :root {
    --main_mr: 20px;
    --size_70_f: 12vw;
    --main_fz: var(--mob_fz);
    --btn_fz: var(--btn_fz_mob);
    --main_h_small: var(--size_13_f);
    --main_h1: var(--mob_h1);
    --main_h2: var(--mob_h2);
    --main_h3: var(--mob_h3);
    --main_h4: var(--mob_h4);
    --main_h5: var(--mob_h5);
    --main_h6: var(--mob_h6);
    --main_lead: var(--mob_lead);
  
    --btn_ph: calc(18px);
  
    --b2p: 0px;
  }
}

:root {
  --white:              #FFFFFF;
  --white_bg:           var(--white);
  --white_bg_dark:      #f2f2f2;
  --white_bg_var:       var(--white_bg);
  --white_fg:           var(--black);
  --white_pl:           #272727;
  --white_btn_bg:       var(--accent_bg);
  --white_btn_bg_dark:  #000000;
  --white_btn_fg:       var(--accent_fg);

  --black:              #0d0d0d;
  --black_bg:           var(--black);
  --black_bg_dark:      #000000;
  --black_bg_var:       #1a1a1a;
  --black_fg:           var(--white);
  --black_pl:           #ffffff;
  --black_btn_bg:       var(--accent_bg);
  --black_btn_bg_dark:  #000000;
  --black_btn_fg:       var(--accent_fg);

  --light:              #f5f5f5;
  --light_bg:           var(--light);
  --light_bg_dark:      #e8e8e8;
  --light_bg_var:       #e8e8e8;
  --light_fg:           var(--black);
  --light_pl:           #272727;
  --light_btn_bg:       var(--accent_bg);
  --light_btn_bg_dark:  #000000;
  --light_btn_fg:       var(--accent_fg);

  --light_2:            #e93d3d;
  --light_2_bg:         var(--light_2);
  --light_2_bg_dark:    #e62626;
  --light_2_bg_var:     #e62626;
  --light_2_fg:         var(--black);
  --light_2_pl:         #272727;
  --light_2_btn_bg:     var(--dark);
  --light_2_btn_bg_dark:#0e0e0e;
  --light_2_btn_fg:     var(--accent_fg);

  --accent:	            #0d0d0d;
  --accent_bg:	        var(--accent);
  --accent_bg_dark:     #000000;
  --accent_bg_var:      #000000;
  --accent_fg:	        var(--white);
  --accent_pl:          #ffffff;
  --accent_btn_bg:	    var(--accent_fg);
  --accent_btn_bg_dark:	#ededed;
  --accent_btn_fg:	    var(--accent_bg);

  --dark:	              #202020;
  --dark_bg:	          var(--dark);
  --dark_bg_dark:       #131313;
  --dark_bg_var:        #2d2d2d;
  --dark_fg:	          var(--white);
  --dark_pl:            #ffffff;
  --dark_btn_bg:	      var(--accent_bg);
  --dark_btn_bg_dark:	  #000000;
  --dark_btn_fg:	      var(--accent_fg);

  --light_gradient:     linear-gradient(120deg, rgba(244, 244, 244, 1), rgba(239, 179, 76, 0.51) 100%);
  --light_gradient_bg:  var(--light_gradient);
  --light_btn_bg_dark:	rgb(226, 226, 226);

  --dark_gradient:      linear-gradient(320deg, rgba(239, 179, 76, 1), rgba(226, 23, 69, 1) 100%);
  --dark_gradient_bg:   var(--dark_gradient);
  --dark_btn_bg_dark:   rgb(236, 165, 43);
}

[class^="palette-white"], [data-active-content*="palette-white"] {
  --primary_bg:         var(--white_bg);
  --primary_text:       var(--white_fg);
  --secondary_btn_text:     var(--white_btn_fg);
  --secondary_bg_btn:       var(--white_btn_bg);
  --secondary_bg_btn_dark:  var(--white_btn_bg_dark);
}
[class^="palette-black"], [data-active-content*="palette-black"] {
  --primary_bg:         var(--black_bg);
  --primary_text:       var(--black_fg);
  --secondary_btn_text:     var(--black_btn_fg);
  --secondary_bg_btn:       var(--black_btn_bg);
  --secondary_bg_btn_dark:  var(--black_btn_bg_dark);
}
[class^="palette-light"], [data-active-content*="palette-light"] {
  --primary_bg:         var(--light_bg);
  --primary_text:       var(--light_fg);
  --secondary_btn_text:     var(--light_btn_fg);
  --secondary_bg_btn:       var(--light_btn_bg);
  --secondary_bg_btn_dark:   var(--light_btn_bg_dark);
}
[class^="palette-light_2"], [data-active-content*="palette-light_2"] {
  --primary_bg:         var(--light_2_bg);
  --primary_text:       var(--light_2_fg);
  --secondary_btn_text:     var(--light_2_btn_fg);
  --secondary_bg_btn:       var(--light_2_btn_bg);
  --secondary_bg_btn_dark:  var(--light_2_btn_bg_dark);
}
[class^="palette-accent"], [data-active-content*="palette-accent"] {
  --primary_bg:         var(--accent_bg);
  --primary_text:       var(--accent_fg);
  --secondary_btn_text:     var(--accent_btn_fg);
  --secondary_bg_btn:       var(--accent_btn_bg);
  --secondary_bg_btn_dark:  var(--accent_btn_bg_dark);
}
[class^="palette-dark"], [data-active-content*="palette-dark"] {
  --primary_bg:         var(--dark_bg);
  --primary_text:       var(--dark_fg);
  --secondary_btn_text:     var(--dark_btn_fg);
  --secondary_bg_btn:       var(--dark_btn_bg);
  --secondary_bg_btn_dark:  var(--dark_btn_bg_dark);
}
.palette-light_gradient, [data-active-content*="palette-light_gradient"] {
  --primary_bg:         var(--light_gradient_bg);
}
.palette-dark_gradient, [data-active-content*="palette-dark_gradient"] {
  --primary_bg:         var(--dark_gradient_bg);
}
[class*="button-palette-white"], [data-active-content*="button-palette-white"] {
  --secondary_bg:           var(--white_bg);
  --secondary_btn_text:     var(--white_fg);
  --secondary_bg_btn:       var(--white_bg);
  --secondary_bg_btn_dark:  var(--white_bg_dark);
}
[class*="button-palette-black"], [data-active-content*="button-palette-black"] {
  --secondary_bg:           var(--black_bg);
  --secondary_btn_text:     var(--black_fg);
  --secondary_bg_btn:       var(--black_bg);
  --secondary_bg_btn_dark:  var(--black_bg_dark);
}
[class*="button-palette-light"], [data-active-content*="button-palette-light"] {
  --secondary_bg:           var(--light_bg);
  --secondary_btn_text:     var(--light_fg);
  --secondary_bg_btn:       var(--light_bg);
  --secondary_bg_btn_dark:  var(--light_bg_dark);
}
[class*="button-palette-light_2"], [data-active-content*="button-palette-light_2"] {
  --secondary_bg:           var(--light_2_bg);
  --secondary_btn_text:     var(--light_2_fg);
  --secondary_bg_btn:       var(--light_2_bg);
  --secondary_bg_btn_dark:  var(--light_2_bg_dark);
}
[class*="button-palette-accent"], [data-active-content*="button-palette-accent"] {
  --secondary_bg:           var(--accent_bg);
  --secondary_btn_text:     var(--accent_fg);
  --secondary_bg_btn:       var(--accent_bg);
  --secondary_bg_btn_dark:  var(--accent_bg_dark);
}
[class*="button-palette-dark"], [data-active-content*="button-palette-dark"] {
  --secondary_bg:           var(--dark_bg);
  --secondary_btn_text:     var(--dark_fg);
  --secondary_bg_btn:       var(--dark_bg);
  --secondary_bg_btn_dark:  var(--dark_bg_dark);
}
[class*="button-palette-buy_button"], [data-active-content*="button-palette-buy_button"] {
  --secondary_bg:           var(--tertiary_bg);
  --secondary_btn_text:     var(--tertiary_text);
  --secondary_bg_btn:       var(--tertiary_bg);
  --secondary_bg_btn_dark:  var(--tertiary_bg_dark);
}
[class*="text-palette-white"], [data-active-content*="text-palette-white"] {
  --primary_text: var(--white_bg);
}
[class*="text-palette-black"], [data-active-content*="text-palette-black"] {
  --primary_text: var(--black_bg);
}
[class*="text-palette-light"], [data-active-content*="text-palette-light"] {
  --primary_text: var(--light_bg);
}
[class*="text-palette-light_2"], [data-active-content*="text-palette-light_2"] {
  --primary_text: var(--light_2_bg);
}
[class*="text-palette-accent"], [data-active-content*="text-palette-accent"] {
  --primary_text: var(--accent_bg);
}
[class*="text-palette-dark"], [data-active-content*="text-palette-dark"] {
  --primary_text: var(--dark_bg);
}
[class*="text-palette-light_gradient"], [data-active-content*="text-palette-light_gradient"] {
  --primary_text: var(--light_gradient_bg);
}
[class*="text-palette-dark_gradient"], [data-active-content*="text-palette-dark_gradient"] {
  --primary_text: var(--dark_gradient);
}
[class*="text-palette-light_gradient"], [data-active-content*="text-palette-light_gradient"], [class*="text-palette-dark_gradient"], [data-active-content*="text-palette-dark_gradient"] {
  background: var(--primary_text);
  background-clip: text; -webkit-background-clip: text;
  text-fill-color: transparent; -webkit-text-fill-color: transparent;
}
[class*="text-palette-"], [data-active-content*="text-palette-"] {
  --headings_text: var(--primary_text);
  --primary_text_h: var(--primary_text);
}
:not(button)[class*="button-palette-"] {
  color: var(--secondary_bg);
}
[class^="palette-"], [data-active-content*="palette-"] {
  --secondary_bg_btn_fade:  var(--secondary_bg_btn_dark);
  --second_btn_bg_fade: var(--second_btn_bg_dark);
  --headings_text:      var(--primary_text);
}
.l4sc.strong[class*="button-palette"] [class*="icon-"] {
  color: var(--secondary_btn_text);
}

#root [class*="button-palette-"] button[disabled]:before, #root [class*="button-palette-"] button.disabled:before {
  --secondary_bg_fade:  var(--secondary_bg_btn_dark);
}
.preorder-button {
  --secondary_btn_text:     #ffffff;
  --secondary_bg_btn:       #000000;
  --secondary_bg_btn_dark:  #000000;
  --secondary_bg_btn_fade:  #1a1a1a;
}
#content>*:not([id$=main-404], [id$=main-collection], [id*=breadcrumbs]) {
  position: relative;
  z-index: 0;
}
.module-color-palette[class^="palette-"] .img-overlay, #background.module-color-palette[class^="palette-"] .img-overlay { background: var(--primary_bg); }
.module-color-palette[class^="palette-"] h1, .module-color-palette[class^="palette-"] h2, .module-color-palette[class^="palette-"] h3, .module-color-palette[class^="palette-"] h4, .module-color-palette[class^="palette-"] h5, .module-color-palette[class^="palette-"] h6 { color: var(--headings_text); }
.module-color-palette[class^="palette-"] ~ .content h1, .module-color-palette[class^="palette-"] ~ .content h2, .module-color-palette[class^="palette-"] ~ .content h3, .module-color-palette[class^="palette-"] ~ .content h4, .module-color-palette[class^="palette-"] ~ .content h5, .module-color-palette[class^="palette-"] ~ .content h6 { color: var(--headings_text, var(--primary_text_h)); }
.module-color-palette[class^="palette-"] { color: var(--primary_text); }
.module-color-palette[class^="palette-"] .swiper-button-next, .module-color-palette[class^="palette-"] .swiper-button-prev { color: var(--primary_text); }
.module-color-palette[class^='palette-']:before { background: var(--primary_bg); }
[class^="palette-"] button:not(.loading), [class^="palette-"] input[type="button"], [class^="palette-"] input[type="reset"], [class^="palette-"] input[type="submit"], [class^="palette-"] .link-btn a:not(.loading) { color: var(--secondary_btn_text); }
[data-active-content*="palette-"] .swiper-custom-pagination, [data-active-content*="palette-"] .play-pause { color: var(--primary_text); }
.m6bx[class^="palette-"] > p, .m6bx[class^="palette-"] > p, .m6bx[class^="palette-"] > h2, .m6bx[class^="palette-"]  a, .m6bx[class^="palette-"] > strong, .m6bx[class^="palette-"] > em, .m6bx[class^="palette-"] > ul { color: var(--primary_text); }
.m6bx[class^="palette-"] .l4cn.box a { color: var(--dark_bg); }
.m6bx[class^="palette-"]:before { background: var(--primary_bg); }
.m6bx[class^="palette-"].overlay:before { border: none; }
[data-whatin=mouse] .m6bx[class^="palette-"] .l4cn li a:hover { color: var(--accent); }
.m6as[class^="palette-"]:before { background: var(--primary_bg); }
.m6wd[class^="palette-"]:not(.palette-white):not(.palette-light):not(.palette-light_2) .l4cu.box li > span:before { background: var(--white); }
.m6wd[class^="palette-"].numbers-accent .l4cu li > span { color: var(--accent); }
.m6wd[class^="palette-"] .l4ts.box li, .m6wd[class^="palette-"] .l4ts.box .li { color: var(--black); }
.m6wd[class^="palette-"] .r6rt .rating > * .fill { background: none; }
.m6wd[class^="palette-"] .l4ts .r6rt .rating > * .fill { color: var(--accent); }
.l4ft.hover-out li[class^="palette-"]:before { background: none; }
.l4al li[class^="palette-"]:before { background: var(--primary_bg); }
.l4al li[class^="palette-"]:not(.palette-white):before { border-width: 0; }
.m6bx.inline[class^="palette-"]:not(.palette-white):before { border-width: 0; }

/* Other*/select, .bv_atual, select:focus, #root .f8sr select, #root .f8sr select:focus { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 5.7' style='enable-background:new 0 0 9 5.7' xml:space='preserve'%3E%3Cpath d='M8.4.2C8.2.1 8 0 7.8 0s-.3.1-.5.2L4.5 3 1.7.2C1.5.1 1.4 0 1.2 0S.8.1.6.2L.2.6C.1.8 0 1 0 1.2s.1.4.2.5L4 5.5c.1.1.3.2.5.2s.4-.1.5-.2l3.8-3.8c.1-.1.2-.3.2-.5S8.9.8 8.8.6L8.4.2z' style='fill:%230d0d0d'/%3E%3C/svg%3E"); }
label span.text-end.hidden, #root span.f8pr-pickup.hidden { display: none; }
.image-compare figure { width: 100%; }
@media only screen and (max-width: 62.5em) {
  #root .l4ft.mobile-compact li:not(:first-child) {
    border-left-width: var(--dist_a);
  }
}
[data-whatin=mouse] .l4cl .li:hover figure picture ~ picture { display: block; } /* was only defined for li, not for .li */
.l4ft figure video { transition-property: all; transition-duration: .4s; transition-timing-function: cubic-bezier(.4,0,.2,1); transition-delay: 0s; } /* video in promo gallery, hover scale transition was not animated */
#nav-bar.text-justify > ul > li.show-all, #nav.text-justify > ul > li.show-all { position: absolute; left: var(--lar0); right: var(--l0ra); top: 0; } /* 1/2 text-justify for the navbar */

@media only screen and (max-width: 47.5em) {
  .mob-h1 { font-size: var(--mob_h1); }
  .mob-h2 { font-size: var(--mob_h2); }
  .mob-h3 { font-size: var(--mob_h3); }
  .mob-h4 { font-size: var(--mob_h4); }
  .mob-h5 { font-size: var(--mob_h5); }
}

body, textarea, input, select, option { text-transform: var(--main_tt); }

.ff-primary, .ff-primary-digit .simply-amount, .l4ft li > .content .ff-primary {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-weight: var(--main_fw_h);
  font-style: normal;
  --main_fw_strong: var(--main_fw_h_strong);
  letter-spacing: -0.04em;
}
.ff-secondary, .ff-secondary-digit .simply-amount, .l4ft li > .content .ff-secondary  {
  font-family: Roboto, sans-serif;
  text-transform: none;
  font-style: normal;
  --main_fw_strong: 700;
  letter-spacing: -0.02em;
}
.ff-primary p, .l4ft li > .content .ff-primary p,
.ff-secondary p, .l4ft li > .content p .ff-secondary p {
  text-transform: none;
}
.fw-100, .l4ft li > .content .fw-100 { font-weight: 100; }
.fw-200, .l4ft li > .content .fw-200 { font-weight: 200; }
.fw-300, .l4ft li > .content .fw-300 { font-weight: 300; }
.fw-400, .l4ft li > .content .fw-400 { font-weight: 400; }
.fw-500, .l4ft li > .content .fw-500 { font-weight: 500; }
.fw-600, .l4ft li > .content .fw-600 { font-weight: 600; }
.fw-700, .l4ft li > .content .fw-700 { font-weight: 700; }
.fw-800, .l4ft li > .content .fw-800 { font-weight: 800; }
.fw-900, .l4ft li > .content .fw-900 { font-weight: 900; }

.l4al.l4al-trustbadge img, .l4al.l4al-trustbadge svg{ max-height: unset!important; width: 85px; }

.l4ca.compact section { width: 100%; }
@media only screen and (max-width: 47.5em) {
  #root figure .link-btn.visible.mobile-text-end { -webkit-justify-content: flex-end; justify-content: flex-end; }
}
.m6fr article.p0 { padding-top: 0; padding-bottom: 0; }
.m6as.overlay.size-xl { --mih: 700px; }
@media only screen and (max-width: 760px) {
  #root .l4ne.wide li {
    width: 100%;
  }
  #root .l4cl.mobile-scroll .swiper-wrapper .li .check.color li {
    width: auto!important;
  }
}
@media only screen and (max-width: 1000px) {
  #nav .m6cn { font-weight: 400; }
}
@media only screen and (min-width: 47.5em) {
  .shopify-section-footer > div > .follow-on-shop { margin-left: 30px; }
}
.form-m-14 > p { margin-bottom: 14px; }
.l4ne h3, .l4ne h3 > a { hyphens: inherit; }
.pickup.hidden { display: none; }
.l4cl .r6rt .rating-label, .l4in .r6rt .rating-label, .n6br li a, .l4rv .spr-review-footer a, .l4ne h3 .small { opacity: 0.6; }
.l4rv .spr-review-header-byline, .l4dr .r6rt .rating-label { color: var(--primary_text); opacity: 0.6; }
#root .datepicker-input { background-size: auto max(18px, calc(var(--input_h) - var(--main_fz) * 4)); }
.input-range { --custom_input_pl: var(--custom_input_fg); }
.s1tt { margin-left: -14px; }
.f8pr .check.hidden { display: none; }
[data-whatin] .recommendation-modal__container h1, [data-whatin] .recommendation-modal__container h2, [data-whatin] .recommendation-modal__container h3, [data-whatin] .recommendation-modal__container h4, [data-whatin] .recommendation-modal__container h5, [data-whatin] .recommendation-modal__container h6, [data-whatin] .recommendation-modal__message, html .recommendation-modal__message { font-size: var(--main_h5) !important;  }
@media only screen and (max-width: 760px) {
  [dir=ltr] .l4cl.mobile-scroll[style*=--fixed_width] {
    padding-left: 0;
  }
  [dir=ltr] #root .l4cl.mobile-scroll[style*=--fixed_width] li:not(:last-child) {
    margin-right: 0;
  }
}

/* .disabled-style for productpage variantpickers */
.check input~label.disabled-style { color: var(--gray); }
.bv_mainselect .bv_ul_inner .li.disabled-style .text { opacity: .53; }
[data-whatin=mouse] .check input:not([checked])~label.disabled-style:not([disabled]):hover:before { border-color: var(--custom_input_bd); }
#root .check.box input ~ label.disabled-style img, #root .check.wide input ~ label.disabled-style ~ * { opacity: .35; }
#root .check.color input ~ label.disabled-style, #root .check.color input ~ label.disabled-style { border-color: var(--custom_input_bd); }
#root .check.color input[checked] ~ label.disabled-style, #root .check.color input[checked] ~ label.disabled-style:after { border-color: var(--alert_error); }
#root .check.color input ~ label.disabled-style:after, #root .check.color input ~ label.disabled-style:after { content: ""; display: block; position: absolute; left: -10px; top: 50%; right: -10px; width: auto; height: 1px; margin-top: -0.5px; border-top: 1px solid var(--custom_input_bd); background: none; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.align-end[style*="max-width:"] { margin-left: auto; }
@media only screen and (min-width: 761px) {
  html:not(.mobile) .l4cl figure .check.color {
    background: rgba(255, 255, 255, 0.7);
  }
}
.product-card { --btn_fz: 13px; font-size: 14px; --price_fz: 14px; --main_fz: 14px; }
@media only screen and (max-width: 760px) {
  .product-card { --btn_fz: 13px; font-size: 13px; --price_fz: 13px; --main_fz: 13px; }
}
@media only screen and (max-width: 760px) {
  #root .l4cl.category figure .link-btn {
    display: flex!important;
  }
  #root .m6pr.align-labels-left .l4pr.s4wi:not(.slider-fraction)>.s1lb{
    left: 0;
  }
  .m6pr.align-labels-left .l4pr .swiper-outer>.m6bx-inside {
    left: 0;
  }
}
picture.slider.img-multiply-bg .swiper-slide > a:before {
  border-radius: var(--b2p);
  background: var(--gallery);
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
  text-align: left;
  text-indent: -3000em;
  direction: ltr;
}
:root {
  --img_padding: 0%;
  --img_vertical_position: 0%;
}
.l4pr li picture, #root .check.box label picture, #root .m6pe picture { overflow: hidden; }
.l4pr li picture img { position: absolute; }
#root .l4cl .product-card img, .l4pr img, .l4ca figure picture img, .l4ca.compact img, #root .m6pe picture img, #root .check.box label picture img{
  padding: var(--img_padding);
  top: var(--img_vertical_position);
}

.no-bd-radius { border-radius: 0; --b2p: 0px; --b2r: 0px; }
/* Swatches *//*.check label.align-middle {}*/
.check figure { --b2p: var(--b2r); }
.check figure.rounded { --b2r: 9999px; }
.check label.align-middle:before, .check label.align-middle:after { top: 50%; margin-top: calc(0px - var(--box_size) * 0.5); }
#root .check label.align-middle > i, .check label.align-middle figure { display: block; top: 0; width: var(--img_s); height: var(--img_s); margin: 5px 10px 5px 0; font-size: var(--img_s); line-height: 1; }
.check label.align-middle { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }
.check { --box_size: calc(var(--main_fz) * 1.2857142857); --img_s: var(--box_size); }
.check label.align-middle:before, .check label.align-middle:after { top: 50%; margin-top: calc(0px - var(--box_size) * 0.5); }
.check label.align-middle img { display: block; height: var(--img_s) !important; }
.check label.align-middle .size-xs { --img_s: var(--box_size); }
.check label.align-middle .size-s { --img_s: 30px; }
.check label.align-middle .size-m { --img_s: 45px; }
.check label.align-middle .size-l { --img_s: 60px; }
.f8fl .check label.align-middle > span { opacity: 1; }
@media only screen and (max-width: 1000px) {
  .js .f8fl .toggle+.check label.align-middle, .js .f8fl .check input:checked~label.align-middle { display: -moz-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
}