*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-bottom-6 {
  bottom: -1.5rem
}

.bottom-1 {
  bottom: 0.25rem
}

.left-1\/2 {
  left: 50%
}

.m-0 {
  margin: 0px
}

.m-2 {
  margin: 0.5rem
}

.\!my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.\!flex {
  display: flex !important
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.\!hidden {
  display: none !important
}

.hidden {
  display: none
}

.size-12 {
  width: 3rem;
  height: 3rem
}

.size-16 {
  width: 4rem;
  height: 4rem
}

.size-20 {
  width: 5rem;
  height: 5rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.\!max-h-\[100\%\] {
  max-height: 100% !important
}

.max-h-5 {
  max-height: 1.25rem
}

.max-h-7 {
  max-height: 1.75rem
}

.max-h-\[50px\] {
  max-height: 50px
}

.\!min-h-\[100\%\] {
  min-height: 100% !important
}

.min-h-5 {
  min-height: 1.25rem
}

.min-h-7 {
  min-height: 1.75rem
}

.min-h-\[50px\] {
  min-height: 50px
}

.\!w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important
}

.\!w-full {
  width: 100% !important
}

.w-8 {
  width: 2rem
}

.w-full {
  width: 100%
}

.w-max {
  width: -moz-max-content;
  width: max-content
}

.\!min-w-full {
  min-width: 100% !important
}

.min-w-5 {
  min-width: 1.25rem
}

.min-w-7 {
  min-width: 1.75rem
}

.\!max-w-full {
  max-width: 100% !important
}

.max-w-5 {
  max-width: 1.25rem
}

.max-w-7 {
  max-width: 1.75rem
}

.max-w-\[1500px\] {
  max-width: 1500px
}

.max-w-screen-lg {
  max-width: 1024px
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.resize {
  resize: both
}

.list-none {
  list-style-type: none
}

.\!flex-col {
  flex-direction: column !important
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.\!justify-center {
  justify-content: center !important
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-12 {
  gap: 3rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-4 {
  gap: 1rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded {
  border-radius: 16px
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.bg-green-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 101 52 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-5 {
  padding: 1.25rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.\!pb-12 {
  padding-bottom: 3rem !important
}

.\!pb-4 {
  padding-bottom: 1rem !important
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pt-0 {
  padding-top: 0px
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-3 {
  padding-top: 0.75rem
}

.text-center {
  text-align: center
}

.text-justify {
  text-align: justify
}

.text-start {
  text-align: start
}

.text-end {
  text-align: end
}

.align-top {
  vertical-align: top
}

.align-middle {
  vertical-align: middle
}

.align-bottom {
  vertical-align: bottom
}

.\!text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.\!font-normal {
  font-weight: 400 !important
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity))
}

.text-green-800 {
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
  outline-style: solid
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .md\:ml-5 {
    margin-left: 1.25rem
  }

  .md\:flex {
    display: flex
  }

  .md\:max-h-\[70px\] {
    max-height: 70px
  }

  .md\:min-h-\[70px\] {
    min-height: 70px
  }

  .md\:w-\[calc\(100\%-180px\)\] {
    width: calc(100% - 180px)
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .md\:justify-center {
    justify-content: center
  }

  .md\:gap-5 {
    gap: 1.25rem
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 1024px) {
  .lg\:max-h-\[100px\] {
    max-height: 100px
  }

  .lg\:min-h-\[100px\] {
    min-height: 100px
  }
}
